<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">
  <!-- JS Scripts -->
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
    <header>
        <%- include('./partials/header'); %>
      </header>
<%- body %>

<footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>
</html>