<div class="form-group">
    <h1>Log In</h1>
    <form action="/users/login" method="post">
    <p><label for="email">Email Address</label>
    <input type="email" name="email" id="email" class="form-control" required></p>
    <p><label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" required></p>
    <p><input type="submit" value="Log In" class="btn btn-primary"></p>
    </form>
</div>
<p>Not yet registered? <a href="/users/new">Register here</a></p>