<div class="form-group">
    <h1>REGISTER</h1>
    <form action="/users/create" method="post">
    <p><label for="email">Email Address</label>
    <input type="email" name="email" id="email" class="form-control" required></p>
    <p><label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" required></p>
    <p><input type="submit" value="Register" class="btn btn-primary"></p>
    </form>
</div>
<p>Already registered? <a href="/users/login">Log in here</a></p>

